body { 
	 background: -webkit-linear-gradient(#ffdb99, white); 
	 background: -moz-linear-gradient(#ffdb99, white); 
	 background: -o-linear-gradient(#ffdb99, white); 
	 background: linear-gradient(#ffdb99, white);	 
	 background-repeat: repeat; 
	 background-attachment: fixed; 
	 background-position: 50% 40%; 
	 margin: 30px 40px 10px 30px; 
 }	 
	
nav.menu {
		background: ;
		position: absolute;
		z-index: 2;
		width: 81.15%;
		height: 50px;
		top: 250px;
		left: 120px;
		text-align: center;
}