 body { 
	 background: -webkit-linear-gradient(#ffdb99, white); 
	 background: -moz-linear-gradient(#ffdb99, white); 
	 background: -o-linear-gradient(#ffdb99, white); 
	 background: linear-gradient(#ffdb99, white);	 
	 background-repeat: repeat; 
	 background-attachment: fixed; 
	 background-position: 50% 40%; 
	 margin: 30px 40px 10px 30px; 
 }	 
	
	.SEFA_Titulo {
		font-family: Monotype Corsiva;
		font-size: 80px;
		left: 425px;
		position: absolute;
	    z-index: 2;
		top: 35px;
	}
	
	.margem_esquerda {
		background: linear-gradient(lightgreen, white);
		width: 9%;
		height: 1500px;
		position: absolute;
		top: 250px;
		left: 0px;
	}
	
	.margem_direita {
		background: linear-gradient(lightgreen, white);	
		width: 9%;
		height: 1500px;
		position: absolute;
		top: 250px;
		right: 0px;
		bottom: 0px;
	}
	
	nav.menu {
		background: ;
		position: absolute;
		z-index: 2;
		width: 1105px;
		height: 50px;
		top: 250px;
		left: 120px;
		text-align: center;
	}
	
	table, td, tr {
		border: inset 2px orangered;
		border-collapse: collapse;
	}
	
	.formulario_contato {
		font-family: times new roman;
		font-size: 18px;
		position: absolute;
		margin-bottom: 150px;
		padding-left: 20px;
	}
	
	#carousel {
	  width:600px;
	  height:330px;
	  top: 10px;
	  right: 305px;
	  position:absolute;
	  overflow:hidden;
	}
	
	#carousel img {
	  position:absolute;
	  top:0; 
	  left:0;
	  max-width:100%;
	  animation-name: cfFadeInOut;
	  animation-timing-function: ease-in-out;
	  animation-iteration-count: infinite;
	  animation-duration: 18s;
	}

	@keyframes carouselFadeInOut {
	  0% {opacity:1;}
	  28% {opacity:1;}
	  33% {opacity:0;}
	  94% {opacity:0;}
	  100% {opacity:1;}
	}

	#carousel img:nth-of-type(1) {
	  animation-delay: 0s;
	}
	#carousel img:nth-of-type(2) {
	  animation-delay: 3s;
	}
	#carousel img:nth-of-type(3) {
	  animation-delay: 6s;
	}
	
	#carousel img:nth-of-type(4) {
	  animation-delay: 9s;
	}
	
	#carousel img:nth-of-type(5) {
	  animation-delay: 12s;
	}
	
	#carousel img:nth-of-type(6) {
	  animation-delay: 15s;
	}
	
	#carousel img:nth-of-type(7) {
	  animation-delay: 18s;
	}
